*{
    margin: 0;
    padding: 0;
}

.background-image{
    background-image: url("/Photoforgame/night-photograph-g0536047c0_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat
    width: 200px;
    height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 70px;
}

.Q1{
    padding-bottom: 30px;
    font-size: 25px;
}
.Q2{
    padding-bottom: 30px;
    font-size: 25px;
}
.Q3{
    padding-bottom: 30px;
    font-size: 25px;
}
.Q4{
    padding-bottom: 30px;
    font-size: 25px;
}
.Q5{
    padding-bottom: 30px;
    font-size: 25px;

}
